#container{
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(0, -50%);
    background-color: rgb(173, 223, 211);
    width: 30%;
    border: 1px solid black;
    border-radius: 1.2em;
    padding: 100px    
}
#buttons{
   position: relative;
   width: 20%;
   background-color: rgb(44, 164, 136);
   border: none;
   border-radius: 0.5em;
   padding: 10px;
   top: 60px;
   left: -50px;
}
#buttons:hover{ 
    cursor: pointer;
}
#score{
    position:relative;
    left: 24%;
    top: -60px;
    font-style: bold;
    font-size: 1.5em;
}
.choice{ 
    background-color: white;
    margin: 10px auto;
    padding: 8px;
    border-radius : 5px;
    cursor: pointer;
}
.choice:hover{
    background-color: rgb(221, 218, 218);
}
.choice.selected{
    background-color: lightblue;
}

